{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="container-fluid">
        <div id="ctrl" class="col-xs-12">
            <button id ="slowBooks">Livres</button>
        </div>
    </div>
        
{% endblock %}
